<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员后台登录页</title>
</head>
<body>
    <form action="/admin/login" method="post" enctype="multipart/form-data">
        <label for="username">
            <span>用户名：</span>
            <input type="text" name="username" id="username"/>
        </label><br>
        <label for="password">
            <span>密码：</span>
            <input type="password" name="password" id="password"/>
        </label><br>
        <button type="submit">登录</button>
    </form>
</body>
</html>